* {
  margin: 0;
  padding: 0;
  list-style: none;
}
body {
  background-color: #fff;
}
body .mui-content {
  background-color: #fff;
}
.mui-bar h1 {
  font-weight: 700;
}
.mui-bar a {
  font-weight: 600;
}
