.add {
  padding: 0 10px;
}
.add img {
  width: 100%;
}
.add ul {
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
}
.add ul li {
  width: 50%;
  padding: 5px;
}
.add ul li a {
  width: 100%;
  display: block;
  padding: 5px;
  box-shadow: 0 0 5px #ccc;
  text-align: center;
}
.add ul li a img {
  width: 100%;
}
.add ul li a span {
  display: inline-block;
  font-size: 14px;
  color: #8f8f94;
  text-align: center;
  padding: 5px;
  height: 65px;
  overflow: hidden;
}
.add ul li a p {
  text-align: center;
  line-height: 15px;
  height: 15px;
}
.add ul li a p span:nth-child(1) {
  color: red;
}
.add ul li a p span:nth-child(2) {
  text-decoration: line-through;
}
.add ul li a button {
  margin-bottom: 5px;
}
.mui-content {
  background-color: #fff;
}
.mui-content .mui-content1 {
  padding: 10px 15px;
}
.mui-content .mui-content1 .mui-row {
  background: #efeff4;
}
.mui-content .mui-content1 .mui-row div {
  text-align: center;
  height: 35px;
  line-height: 35px;
  font-size: 14px;
}
.mui-content .mui-content1 .mui-row div span {
  font-size: 12px;
}
.mui-content .search-body {
  padding: 0 10px;
}
.mui-content .search-body img {
  width: 100%;
}
.mui-content .search-body ul {
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
}
.mui-content .search-body ul li {
  width: 50%;
  padding: 5px;
}
.mui-content .search-body ul li a {
  width: 100%;
  display: block;
  padding: 5px;
  box-shadow: 0 0 5px #ccc;
  text-align: center;
}
.mui-content .search-body ul li a img {
  width: 100%;
}
.mui-content .search-body ul li a span {
  display: inline-block;
  font-size: 14px;
  color: #8f8f94;
  text-align: center;
  padding: 5px;
  height: 65px;
  overflow: hidden;
}
.mui-content .search-body ul li a p {
  text-align: center;
  line-height: 15px;
  height: 15px;
}
.mui-content .search-body ul li a p span:nth-child(1) {
  color: red;
}
.mui-content .search-body ul li a p span:nth-child(2) {
  text-decoration: line-through;
}
.mui-content .search-body ul li a button {
  margin-bottom: 5px;
}
